/*
#1 color = #ff3737;
#2 color = #ff3737;
*/

a:hover,
a:focus {
    color: #ff3737;
}

.circled {
	background: #ff3737;
}

.con1 > div, .con2 > div, .con3 > div {
	background-color: #ff3737;
}

.scrollup:hover {
	background: #ff3737;
}


/* button */
.btn-skin {
  background-color: #ff3737;
  border-color: #ff3737;
}


/* menu */

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #ff3737 !important;
}
.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active a,.navbar-custom.top-nav-collapse .nav li.active a  {
    color: #ff3737 !important;
}



.bg-skin {
	background: #cb5353;
}

.highlight-color {
	background-color: #ff3737;
}
.color {
	color: #ff3737;
}

.form-control:focus {
  border-color: #ff3737;
}
